:root {
  --primary: #3d8fa1;
  --business: #b347d4;
  --personal: var(--primary);
  --light: black;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;
  
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

